<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table_large">
  <xacro:macro name="table_large" params="prefix parent xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${prefix}table_large_link">
      <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://workcell_builder/assets/environment/table_large_description/meshes/table_large.stl" scale="1 1 1"/></geometry></visual>
      <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><box size="1.8 0.9 0.75"/></geometry></collision>
    </link>
  </xacro:macro>
</robot>
