<?xml version="1.0"?>
<robot name="table_clamp_camera_mount" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <link name="table_clamp_camera_mount_body">
    <visual><geometry><mesh filename="package://table_clamp_camera_mount_description/meshes/visual/table_clamp_camera_mount.stl" scale="1 1 1"/></geometry></visual>
    <collision><geometry><mesh filename="package://table_clamp_camera_mount_description/meshes/collision/table_clamp_camera_mount.stl" scale="1 1 1"/></geometry></collision>
    <inertial><mass value="5.0"/><origin xyz="0 0 0"/><inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/></inertial>
  </link>
  <joint name="table_clamp_camera_mount_base_joint" type="fixed"><parent link="base_link"/><child link="table_clamp_camera_mount_body"/></joint>
  <link name="camera_mount_link"/>
  <joint name="table_clamp_camera_mount_camera_mount_joint" type="fixed"><parent link="table_clamp_camera_mount_body"/><child link="camera_mount_link"/><origin xyz="0 0 0.8" rpy="0 0 0"/></joint>
</robot>
