<?xml version="1.0"?>
<robot name="onrobot_airpick4_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="onrobot_airpick4_gripper.urdf.xacro"/>

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="parent" default="base_link"/>

  <link name="base_link"/>

  <xacro:onrobot_airpick4_gripper prefix="$(arg prefix)" parent="$(arg parent)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:onrobot_airpick4_gripper>
</robot>
