<?xml version="1.0"?>
<robot name="airpick_4_vacuum_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="onrobot_airpick4_gripper.urdf.xacro"/>

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="parent" default="base_link"/>

  <link name="base_link"/>

  <xacro:airpick_4_vacuum_gripper prefix="${prefix}" parent="${parent}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:airpick_4_vacuum_gripper>
</robot>
