<?xml version="1.0"?>
<robot name="workbench" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="workbench_link">
    <visual>
      <geometry><box size="1.2 0.8 0.85"/></geometry>
      <origin xyz="0 0 0.425" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry><box size="1.2 0.8 0.85"/></geometry>
      <origin xyz="0 0 0.425" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="20"/>
      <inertia ixx="2" iyy="2" izz="2" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
</robot>
