<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="new_scene">

  <link name="world"/>
  
  <!-- UR5 Robot with fake hardware for simulation -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:ur_robot
    name="ur5"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml"
    use_fake_hardware="true"
    fake_sensor_commands="false"
    initial_positions="${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>
  
  <!-- Add ee_link for SRDF backward compatibility -->
  <link name="ee_link"/>
  <joint name="tool0_to_ee_link" type="fixed">
    <parent link="tool0"/>
    <child link="ee_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <!-- Robotiq 85 Gripper -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
  <xacro:robotiq_85_gripper prefix="" parent="tool0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_85_gripper>
  
  <!-- Gripper ros2_control -->
  <ros2_control name="GripperSystem" type="system">
    <hardware>
      <plugin>fake_components/GenericSystem</plugin>
      <param name="mock_sensor_commands">false</param>
    </hardware>
    <joint name="gripper_finger1_joint">
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.8</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </ros2_control>
  
  <!-- Table -->
  <xacro:include filename="$(find table_description)/urdf/table.urdf.xacro"/>
  <xacro:table prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:table>
  
  <!-- Palm link -->
  <link name="ee_palm"/>
  <joint name="base_to_palm" type="fixed">
    <parent link="tool0"/>
    <child link="ee_palm"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>
  
  <!-- RealSense D415 Camera -->
  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro"/>
  <xacro:sensor_d415 parent="table_" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="-0.58 0.225 0.65" rpy="${pi} ${pi/2} 0"/>
  </xacro:sensor_d415>
  
  <!-- Camera frame for perception -->
  <link name="camera_frame"/>
  <joint name="d415_to_camera" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_frame"/>
    <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
  </joint>

</robot>
