<?xml version="1.0" ?> 

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_test">

 <xacro:arg name="ur_type" default="ur5"/>
 <xacro:arg name="name" default="$(arg ur_type)"/>
 <xacro:arg name="tf_prefix" default=""/>
 <xacro:arg name="world_frame" default="world"/>
 <xacro:arg name="tool_mount_link" default="tool0"/>
 <xacro:arg name="gripper_profile" default="robotiq_85_gripper"/>
 <xacro:arg name="grasp_frame" default="ee_palm"/>
 <xacro:arg name="use_fake_hardware" default="true"/>
 <xacro:arg name="table_world_xyz"/>
 <xacro:arg name="table_world_rpy"/>
 <xacro:arg name="camera_world_xyz"/>
 <xacro:arg name="camera_world_rpy"/>

 <!-- Contract: world_frame is the scene/world frame; UR creates base_link as the robot base. -->
 <!-- Contract: tool_mount_link is tool0; gripper_profile is robotiq_85_gripper; grasp_frame is ee_palm. -->
 <link name="$(arg world_frame)"/>

<xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

<xacro:ur_robot
  name="$(arg name)"
  tf_prefix="$(arg tf_prefix)"
  parent="$(arg world_frame)"
  safety_limits="true"
  joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
  kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
  physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
  visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
  use_fake_hardware="$(arg use_fake_hardware)">
  <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:ur_robot>

 <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
 <xacro:robotiq_85_gripper prefix="" parent="$(arg tool_mount_link)">
	<origin xyz="0 0 0" rpy="1.5707 -1.5707 0"/>
 </xacro:robotiq_85_gripper>

 <xacro:if value="$(arg use_fake_hardware)">
   <ros2_control name="RobotiqGripperHardware" type="system">
     <hardware>
       <plugin>mock_components/GenericSystem</plugin>
     </hardware>
     <joint name="gripper_finger1_joint">
       <command_interface name="position" />
       <state_interface name="position">
         <param name="initial_value">0.0</param>
       </state_interface>
       <state_interface name="velocity">
         <param name="initial_value">0.0</param>
       </state_interface>
     </joint>
   </ros2_control>
 </xacro:if>

 <xacro:include filename="$(find workbench_description)/urdf/table.urdf.xacro"/>
 <xacro:table prefix="" parent="$(arg world_frame)">
	<origin xyz="$(arg table_world_xyz)" rpy="$(arg table_world_rpy)"/>
 </xacro:table>
 
 <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
 <xacro:arg name="use_nominal_extrinsics" default="true" />
 <xacro:sensor_d435i parent="$(arg world_frame)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="$(arg camera_world_xyz)" rpy="$(arg camera_world_rpy)"/>
 </xacro:sensor_d435i>


 <link name="camera_frame" />
 <joint name="d435i_to_camera" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_frame"/>
    <!--origin xyz="0 0 0" rpy="0 0 3.14159"/-->
    <origin xyz="0 0 0" rpy="1.57079506 0 1.57079506"/>
 </joint>
 
 <link name="$(arg grasp_frame)" />
 <joint name="tool0_to_grasp_frame" type="fixed">
    <parent link="$(arg tool_mount_link)"/>
    <child link="$(arg grasp_frame)"/>
    <origin xyz="0 0 0.14" rpy="0 0 0"/>
 </joint>

</robot>
