<?xml version="1.0"?>
<robot name="vslot_camera_frame" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <link name="vslot_camera_frame_body">
    <visual><geometry><mesh filename="package://vslot_camera_frame_description/meshes/visual/vslot_camera_frame.stl" scale="1 1 1"/></geometry></visual>
    <collision><geometry><mesh filename="package://vslot_camera_frame_description/meshes/collision/vslot_camera_frame.stl" scale="1 1 1"/></geometry></collision>
    <inertial><mass value="5.0"/><origin xyz="0 0 0"/><inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/></inertial>
  </link>
  <joint name="vslot_camera_frame_base_joint" type="fixed"><parent link="base_link"/><child link="vslot_camera_frame_body"/></joint>
  <link name="camera_mount_link"/>
  <joint name="vslot_camera_frame_camera_mount_joint" type="fixed"><parent link="vslot_camera_frame_body"/><child link="camera_mount_link"/><origin xyz="0 0 0.8" rpy="0 0 0"/></joint>
</robot>
