<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suction_gripper">
  <link name="single_suction_gripper_base_link">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.02"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.05" radius="0.02"/>
      </geometry>
    </collision>
  </link>
</robot>
