<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table_small">
  <xacro:macro name="table_small" params="prefix parent xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${prefix}table_small_link">
      <visual><origin xyz="0 0 0" rpy="0 0 0"/><geometry><mesh filename="package://workcell_builder/assets/environment/table_small_description/meshes/table_small.stl" scale="1 1 1"/></geometry></visual>
      <collision><origin xyz="0 0 0" rpy="0 0 0"/><geometry><box size="1.2 0.8 0.75"/></geometry></collision>
    </link>
  </xacro:macro>
</robot>
